.user
{
    display: flex;
    justify-content: space-evenly;
    
}
.Header_App
{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #DDDDDD;
    flex-direction: column;
}