.sheet_App{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #DDDDDD;
    padding: 2%;
    border-radius: 25px;
    border-color: #E85454;
    border-style: solid;
}
.select
{
    border-color: #E85454;
    border-style: solid;
}
.sheet_body{
    display: flex;
    flex-direction: column;
    /* font-size: 1/16vw; */
    text-size-adjust: auto;
}
hr
{
    height: 1px;
    background-color: #E85454;
}